:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0 auto 0 0;

  &:hover {
    cursor: pointer;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.6;
  gap: 8px;
}

.chip {
  display: flex;
  align-items: center;
  gap: 6px;

  mat-icon {
    transform: scale(0.65);
  }
}
