<ng-container *ngIf="item">
    <!-- Title -->
    <div (click)="shareStory(item)" [routerLink]="[item.id]" [ngClass]="commentsStyle == true ? 'mat-h1 m0' : 'mat-h2 m0'" class="title" tabindex="0">
        {{item.title}}
    </div>
    
    <!-- Domain -->
    <div *ngIf="item.url">
        <a [href]="item.url" target="_blank" rel="noopener noreferrer">
            {{item.url | domain}}
        </a>
    </div>
    
    <!-- Details -->
    <div class="details">
        <div class="chip">
            <mat-icon>favorite</mat-icon>
            <div>{{item.score}}</div>
        </div>
        <div class="chip">
            <mat-icon>forum</mat-icon>
            <div>{{item.descendants}}</div>
        </div>
        <div class="chip">
            <mat-icon>face</mat-icon>
            <div>{{item.by}}</div>
        </div>
        <div class="chip">
            <mat-icon>schedule</mat-icon>
            <div>{{item.time | postFrom}}</div>
        </div>
    </div>
</ng-container>
