<mat-toolbar color="primary">
    <ng-container *ngIf="!mobile; else mobileMenu">
        <button mat-button aria-label="Show Top section" (click)="switchFeed(FeedType.TOP)">
            <span class="mat-h3"> Top </span>
        </button>
        <button mat-button aria-label="Show Best section" (click)="switchFeed(FeedType.BEST)">
            <span class="mat-h3"> Best </span>
        </button>
        <button mat-button aria-label="Show New section" (click)="switchFeed(FeedType.NEW)">
            <span class="mat-h3"> New </span>
        </button>
        <button mat-button aria-label="Show Ask section" (click)="switchFeed(FeedType.ASK)">
            <span class="mat-h3"> Ask </span>
        </button>
        <button mat-button aria-label="Show Show section" (click)="switchFeed(FeedType.SHOW)">
            <span class="mat-h3"> Show </span>
        </button>
        <button mat-button aria-label="Show Jobs section" (click)="switchFeed(FeedType.JOB)">
            <span class="mat-h3"> Jobs </span>
        </button>
    </ng-container>

    <ng-template #mobileMenu>
        <button mat-button [matMenuTriggerFor]="menu" aria-label="Show Stories section">
            <span class="mat-h3"> Hacker Reader </span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </ng-template>

    <span class="spacer"></span>
    <button mat-icon-button aria-label="Switch between Light or Dark theme" (click)="themeService.switch()">
        <mat-icon>dark_mode</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchFeed(FeedType.TOP)">
        <span> Top </span>
    </button>
    <button mat-menu-item (click)="switchFeed(FeedType.BEST)">
        <span> Best </span>
    </button>
    <button mat-menu-item (click)="switchFeed(FeedType.NEW)">
        <span> New </span>
    </button>
    <button mat-menu-item (click)="switchFeed(FeedType.ASK)">
        <span> Ask </span>
    </button>
    <button mat-menu-item (click)="switchFeed(FeedType.SHOW)">
        <span> Show </span>
    </button>
    <button mat-menu-item (click)="switchFeed(FeedType.JOB)">
        <span> Jobs </span>
    </button>
</mat-menu>

<mat-progress-bar color="accent" [mode]="(hn.waitingRequest$ | async)"></mat-progress-bar>