:host {
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-behavior: smooth;
}

.mat-progress-bar { position: sticky; top: 0 }
.story { margin: 8px 0; }
.load-more { display: flex; justify-content: center; padding-bottom: 80px; }
