<!-- Nav -->
<mat-toolbar color="primary">
    <!-- If route is '/' then show Feed buttons, else Comments buttons -->
    <ng-container *ngIf="(shared.isMobile$ | async); then mobileContent else desktopContent"></ng-container>

    <!-- Buttons at the end -->
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Switch between Light/Dark theme" (click)="switchTheme()">
        <mat-icon>{{(shared.currentTheme$ | async) | iconTheme}}</mat-icon>
    </button>
</mat-toolbar>
<mat-progress-bar color="primary" [mode]="loadState$ | async"></mat-progress-bar>

<!-- Stories List -->
<div class="scroll-element" #scrollElement>
    <div class="centered-container">
        <!-- Section Label -->
        <div class="mat-h1">{{(type$ | async) | headerTitle}}</div>
        <mat-divider></mat-divider>

        <!-- Items -->
        <ng-container *ngFor="let item of stories$ | async; trackBy: idTracker">
            <div class="story">
                <!-- Title -->
                <div @showItem>
                    <a class="mat-h2" (click)="navigateIntoComments(item.id)">
                        {{item.title}}
                    </a>
                </div>
                <!-- Domain -->
                <div *ngIf="item.url" @showItem>
                    <a class="mat-h3" [href]="item.url" target="_blank" rel="noopener noreferrer">
                        {{item.url | domain}}
                    </a>
                </div>
                <!-- Details -->
                <div class="details mat-body" @showItem>
                    <span>{{item.score}} points</span>
                    <span>{{item.descendants}} comments</span>
                    <span>By <span class="mat-body-strong">{{item.by}}</span></span>
                    <span>From {{item.time | postFrom}}</span>
                </div>
            </div>
            <mat-divider></mat-divider>
        </ng-container>
    </div>

    <!-- Load More Button -->
    <!-- Hidden doesn't work ¿why? [hidden]="(loadState$ | async) === LoadState.WAITING" -->
    <div class="load-more" *ngIf="(loadState$ | async) === LoadState.IDLE">
        <button mat-flat-button color="primary" class="mat-h3" (click)="infiniteLoad()">
            Keep loading more!
        </button>
    </div>
</div>

<!-- Scroll up button -->
<button mat-mini-fab aria-label="Scroll up to the top" (click)="scrollEl.nativeElement.scrollTop = 0"
    class="arrow-upward">
    <mat-icon>arrow_upward</mat-icon>
</button>

<!-- Toolbar Templates -->
<ng-template #desktopContent>
    <button mat-button aria-label="Show Top section" (click)="setFeedType(FeedType.TOP)">
        <span class="mat-h3"> Top </span>
    </button>
    <button mat-button aria-label="Show Best section" (click)="setFeedType(FeedType.BEST)">
        <span class="mat-h3"> Best </span>
    </button>
    <button mat-button aria-label="Show New section" (click)="setFeedType(FeedType.NEW)">
        <span class="mat-h3"> New </span>
    </button>
    <button mat-button aria-label="Show Ask section" (click)="setFeedType(FeedType.ASK)">
        <span class="mat-h3"> Ask </span>
    </button>
    <button mat-button aria-label="Show Show section" (click)="setFeedType(FeedType.SHOW)">
        <span class="mat-h3"> Show </span>
    </button>
    <button mat-button aria-label="Show Jobs section" (click)="setFeedType(FeedType.JOB)">
        <span class="mat-h3"> Jobs </span>
    </button>
</ng-template>

<ng-template #mobileContent>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Show Stories section">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setFeedType(FeedType.TOP)">
            <mat-icon>whatshot</mat-icon>
            <span> Top </span>
        </button>
        <button mat-menu-item (click)="setFeedType(FeedType.BEST)">
            <mat-icon>favorite</mat-icon>
            <span> Best </span>
        </button>
        <button mat-menu-item (click)="setFeedType(FeedType.NEW)">
            <mat-icon>new_releases</mat-icon>
            <span> New </span>
        </button>
        <button mat-menu-item (click)="setFeedType(FeedType.ASK)">
            <mat-icon>help</mat-icon>
            <span> Ask </span>
        </button>
        <button mat-menu-item (click)="setFeedType(FeedType.SHOW)">
            <mat-icon>preview</mat-icon>
            <span> Show </span>
        </button>
        <button mat-menu-item (click)="setFeedType(FeedType.JOB)">
            <mat-icon>work</mat-icon>
            <span> Jobs </span>
        </button>
    </mat-menu>
</ng-template>