/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

.top-bar-spacer {
  flex-grow: 1;
  min-width: 12px;
}

.scroll-element {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
}

.centered-container {
  box-sizing: border-box;
  margin: auto;
  padding: 2rem 2rem 0 2rem;
  max-width: 1100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

// Mobile version with narrower paddings. Some changes are applied via JS (!).
// That max-width value should match with the Shared Service var.
@media screen and (max-width: 760px) {
  .centered-container {
    padding: 1.3rem 1.3rem 0 1.3rem;
  }
}
