/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; }

// Shared properties
.spacer { flex-grow: 1; min-width: 12px; }
.centered-container {
    box-sizing: border-box;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1100px;
    width: 100%;
}

// Mobile version with narrower paddings
@media screen and (max-width: 760px) {
    .centered-container {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}