:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.mat-divider {
    margin: 24px 0;
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0.6rem;
    padding: 0 12px;
    border-left: 3px solid;
}

.empty-comments {
    text-align: center;
}

.arrow-upward { 
    position: absolute; 
    bottom: 1rem; 
    right: 1.75rem; 
}
