:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  background-color: var(--background-color);
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  margin: 8px;
  padding-left: 12px;
  border-left: 4px solid;
}

.arrow-upward {
  position: absolute;
  bottom: 1rem;
  right: 1.75rem;
}

.post-details {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  align-items: baseline;
}
