<!-- Nav -->
<mat-toolbar autoHide [scrollElement]="scrollElement" color="primary" style="gap: 8px">
    <button mat-icon-button [routerLink]="['../']">
        <mat-icon>arrow_back</mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar color="primary" value="0" [mode]="isLoading | progressMode"></mat-progress-bar>

<!-- Comments -->
<div class="scroll-element" #scrollElement>
    <div class="centered-container">
        <!-- Header -->        
        <hn-item [item]="item" [commentsStyle]="true" @showItem></hn-item>

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                [matTreeNodePaddingIndent]="shared.isMobile$ | async | commentPadding">
                <div class="comment" [ngStyle]="{'border-color': node.color}">
                    <div class="post-details" @showItem>
                        <div>By <b>{{node.by}}</b></div>
                        <div>From {{node.time | postFrom}}</div>
                    </div>
                    <div class="mat-body" [innerHTML]="node.text" @showItem></div>
                </div>
            </mat-tree-node>

            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                [matTreeNodePaddingIndent]="shared.isMobile$ | async | commentPadding">
                <div class="comment" [ngStyle]="{'border-color': node.color}" matTreeNodeToggle>
                    <div class="post-details" @showItem>
                        <div>By <a class="mat-body-strong">{{node.by}}</a></div>
                        <div>From {{node.time | postFrom}}</div>
                    </div>
                    <div class="mat-body" [innerHTML]="node.text" @showItem></div>
                    <div [hidden]="treeControl.isExpanded(node)">
                        {{node.kids.length | replies}}
                    </div>
                </div>
            </mat-tree-node>
        </mat-tree>

        <!-- No comments message -->
        <ng-container *ngIf="noComments; then emptyComments"></ng-container>
    </div>
</div>

<ng-template #emptyComments>
    <div class="mat-body" style="text-align: center" @showItem>
        🏜️ There's nothing to read here 🏜️
    </div>
</ng-template>

<!-- Scroll up button -->
<button mat-mini-fab aria-label="Scroll up to the top" (click)="scrollEl.nativeElement.scrollTop = 0"
    class="arrow-upward">
    <mat-icon>arrow_upward</mat-icon>
</button>